@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
